{% extends 'template/default.twig' %}
{% block page_tittle %}Dashboard{% endblock %}
{% block page %}Owner-dashboard{% endblock %}
{% block content %}
  <div class="owner-dashboard">
    <div class="sidebar-menu-icon"><span class="fa fa-th"></span></div>
    <div class="sidebar">
      <div class="user-details">
        <div class="user-name">{{ user.name }}</div>
        <div class="user-role">owner</div>
      </div>
      <div class="nav-list">
        <div class="list">
          <a href="#introSection"><span class="links-name"><span class="fa fa-clipboard-list icon"></span>Dashboard</span></a>
        </div>
        <div class="list">
          <a href="#rooms"><span class="links-name"><span class="fa fa-hotel icon"></span>Property</span></a>
        </div>
        <div class="list">
          <a href="#editUserDetails"><span class="links-name"><span class="fa fa-user-edit icon"></span>Edit profile</span></a>
        </div>
      </div>
    </div>

    <section id="introSection" class="intro-section">
      <div class="container">
        <div>
          <h3>Welcome to Booking portal</h3>
        </div>
      </div>
    </section>

      <section id="rooms" class="rooms-section">
        <div class="container">
          <div class="row align-center">
            <div class="col-8"><button class="btn btn-dark" data-toggle="modal" data-target="#modalAddProperty"><span class="fa fa-plus"></span> AddProperty</button></div>
            <div class="col-4"><button class="btn rounded-circle btn-dark"><span class="fa fa-bell"></span></button></div>
          </div>
        </div>
        {% include 'Owner/add-property.twig' %}

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            {% for property in properties  %}
              <tr>
                <td data-title="Name">{{ property.name }}</td>
                <td data-title="Type">{{ property.type }}</td>
                <td data-title="Status">{{ property.status  == 1 ? 'Active' : 'Disabled'}}</td>
                <td data-title="View"><button class="btn btn-dark btn-sm" type="button"><span class="fa fa-eye"></span>View</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>


    <section id="editUserDetails" class="edit-user-details">
      <div class="container">
          <div class="row">
            <div class="form col-md-8">
              <h2 class="center">Edit Account details</h2>
              <form action="/register" method="post" id="frmUserDetailsEdit">
                <div class="form-group required">
                  <div class="input-group required" data-message="Fullname should be entered">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="txFullName" value="{{ user.name }}" placeholder="Enter Your Name">
                    <span class="error-box"></span>
                  </div>
                  <div class="input-group required" data-message="Email should be entered">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="txtEmail" class="form-control" placeholder=" Enter Your Email Address" value="{{ user .email }}">
                    <span class="error-box"></span>
                  </div>
                  <div class="input-group required" data-message="Phone should be entered">
                    <span class="input-group-addon"><i class="fa  fa-phone"></i></span>
                    <input type="text" name="txtPhone" class="form-control" placeholder="Enter Your Phone Number" value="{{ user.phone }}">
                    <span class="error-box"></span>
                  </div>
                  <div class="input-group required" data-message="Password should be entered">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="txtPassword" class="form-control" placeholder="Enter Your Password" value="{{ user.password }}">
                    <span class="fa fa-eye-slash input-group-addon pass" ></span>
                    <span class="error-box"></span>
                  </div>
                  <button type="button" data-role="user-details-submit" class="float-right btn btn-dark">Edit Details</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </section>
  </div>
  <div class="loading-overlay">
    <div class="loading" data-loading-text="Registering..."></div>
  </div>
{% endblock %}